body{background: rgba(19, 19, 23, 0.9)}
section{
    background-image: url("imges/packman_is_trapped_between_ghosts_by_xbi_de87wnn-250t (1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*filter: blur(6px);*/
}
.center{
    color:white;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 1px #ff0000,10px 10px 1px #0000ff;
    font-family: sans-serif;
    text-transform: capitalize;
}
button{
    margin: 0 auto;
    height: 4em;
    width: 30rem;
    /*background: #5454ff;*/
    background: #8cf3ff;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
}